html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

body {
    margin: 0;
    height: 100%;
    overflow: visible;
    background: white;
}

.button-icon {
    height: 38px;
    width: 38px;
    border-radius: 50%;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    outline: none;
}

.button-icon svg{
    height: 22px;
    width: 22px;
    padding: 8px;
    stroke: #969696;
    transition: fill 200ms ease-out;
}

.button-icon:hover {
    background: rgba(0, 0, 0, 0.05);
}
/* Nav */

.top-nav {
    box-sizing: border-box;
    width: 100%;
    position: relative;
    background: none;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    align-items: center;
    -webkit-align-items: center;
    height: 52px;
    padding: 0 16px;
    border-bottom: 1px solid #e0e0e0;
}

.nav__section--left{
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    align-items: center;
    -webkit-align-items: center;
}

.nav__section--center{
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    color: #242424;
    margin: 0 auto;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    align-items: center;
    -webkit-align-items: center;
    width: max-content;
    padding-right: 38px;
}

#security-page {
    display: none;
}

#security-page__form {
    display: none;
}

#notification-page {
    display: none;
}

/* Main */
#settings__page {
    width: 100%;
    max-width: 400px;
    /* overflow-y: scroll; */
}

.help__main {
    display: flex;
    flex-direction: row;
}

#help__tabs {
    height: calc(100vh - 52px);
    /* background: #fafafa; */
    border-right: 1px solid #e0e0e0;
    padding: 8px 0;
}

.tab-item:hover {
    background: #f4f4f4;
}

.tab-item {
    background: white;
    width: 220px;
    padding: 8px 12px;
    cursor: pointer;
    color: #242424;
    display: flex;
    align-items: center;
    /* border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea; */
    margin: 8px 0;
}

.selected-tab >.tab-item__icon  {
    /* background: #e6510012; */
    stroke: #e65100;
}

.selected-tab >.tab-item__title  {
    /* background: #e6510012; */
    color: #e65100;
}

.tab-item__title {
    font-family: inherit;
    font-size: 14px;
    color: #969696;
    letter-spacing: 0.1px;
    font-weight: 500;
    display: block;
}

.tab-item__icon {
    margin: 0 8px;
    stroke: #969696;
    height: 18px;
    width: 18px;
}

.tab-item__description {
    font-family: inherit;
    font-size: 14px;
    letter-spacing: 0.1px;
}

/* settings-form */
.settings-form-container {
    padding: 0 36px;
}